<h1>Add a new project</h1>
<%= form_for @my_project do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br></br>
  <%= f.label :description %><br>
  <%= f.text_area :description  %>
  <br><br>
  <%= f.button %>
  <% end %>
<a href="/projects">Back to projects page ></a>
