<h1><%= @my_project.name %></h1>
<hr>
<h2>Total time</h2>
<ul>
  <% @my_entries.each do |entry| %>
    <li>
      <%= entry.hours %> hour
      <%= entry.minutes %> minute -
      Date: <%= entry.date %>

      <!-- <a href="/projects/<%= @my_project.id %>/time_entries/<%= entry.id %>/edit">Edit time entry ></a> -->
      <!-- Is better the link below -->

      <%= link_to ' Edit time entry >>', "/projects/ #{@my_project.id}/time_entries/#{entry.id}/edit" %>
    </li>
  <% end %>
</ul>
<a href="/projects/<%= @my_project.id %>/time_entries/new">Entry time ></a>
<br>
<br>
<a href="/projects/">Back to projects ></a>
